.message{
    margin: 5%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
    display: none;
    width: 50%;
}

.success{
    background-color: lawngreen;
    display: flex;
}

.error{
    background-color: red;
    display: flex;
}

.message__close{
    width: 100%;
    text-align: right;
}

.fas{
    font-size: 40px;
}

.text{
    width: 100%;
    flex-wrap:  wrap;
    display: flex;
    align-items: center;
}

P{
    margin: 0;
}

.text i{
    padding-right: 1%;
}

.message footer{
    width: 100%;
    text-align: right;
}