<div class='spelbord__velden'>
    {{~#each bord~}}
        {{~#each this~}}
            <button id='spelbord__veld' class='spelbord__veld' onclick='Game.Reversi.showFishie({{@index}}, {{@../index}})'>
                {{~#ifequel this 1~}}
                    {{> fishe kleur=wit}}
                {{~/ifequel~}}
                
                {{~#ifequel this 2~}}
                    {{> fishe kleur=zwart}}
                {{~/ifequel~}}
            </button>
        {{~/each~}}
    {{~/each~}}
</div>